<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.manage.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.Banner">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="banner_click_url" jdbcType="VARCHAR" property="bannerClickUrl" />
    <result column="banner_type" jdbcType="VARCHAR" property="bannerType" />
    <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
    <result column="share_title" jdbcType="VARCHAR" property="shareTitle" />
    <result column="share_subtitle" jdbcType="VARCHAR" property="shareSubtitle" />
    <result column="share_icon" jdbcType="VARCHAR" property="shareIcon" />
    <result column="share_channel" jdbcType="VARCHAR" property="shareChannel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, banner_url, banner_click_url, banner_type, share_url, share_title,
    share_subtitle, share_icon, share_channel, create_time, create_user, update_time, delete_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_banner
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="quick.pager.shop.model.activity.Banner">
    insert into t_banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="bannerUrl != null">
        banner_url,
      </if>
      <if test="bannerClickUrl != null">
        banner_click_url,
      </if>
      <if test="bannerType != null">
        banner_type,
      </if>
      <if test="shareUrl != null">
        share_url,
      </if>
      <if test="shareTitle != null">
        share_title,
      </if>
      <if test="shareSubtitle != null">
        share_subtitle,
      </if>
      <if test="shareIcon != null">
        share_icon,
      </if>
      <if test="shareChannel != null">
        share_channel,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerClickUrl != null">
        #{bannerClickUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerType != null">
        #{bannerType,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareTitle != null">
        #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareSubtitle != null">
        #{shareSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="shareIcon != null">
        #{shareIcon,jdbcType=VARCHAR},
      </if>
      <if test="shareChannel != null">
        #{shareChannel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.activity.Banner">
    update t_banner
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerClickUrl != null">
        banner_click_url = #{bannerClickUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerType != null">
        banner_type = #{bannerType,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        share_url = #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareTitle != null">
        share_title = #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareSubtitle != null">
        share_subtitle = #{shareSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="shareIcon != null">
        share_icon = #{shareIcon,jdbcType=VARCHAR},
      </if>
      <if test="shareChannel != null">
        share_channel = #{shareChannel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectBanner" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_banner
    <where>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="bannerType != null and bannerType != ''">
        and banner_type = #{bannerType,jdbcType=VARCHAR}
      </if>
    </where>
    order by id desc
  </select>

</mapper>