<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.DiscountCouponMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.DiscountCoupon">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="template_id" jdbcType="BIGINT" property="templateId"/>
        <result column="coupon_name" jdbcType="VARCHAR" property="couponName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="discount_strength" jdbcType="VARCHAR" property="discountStrength"/>
        <result column="discount_type" jdbcType="INTEGER" property="discountType"/>
        <result column="used" jdbcType="BIT" property="used"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, template_id, coupon_name, phone, order_amount, coupon_amount, discount_strength, discount_type,
        used, begin_time,
        end_time, description, create_time, update_time, delete_status
    </sql>

    <insert id="batchInsertSelective">
        insert into t_discount_coupon (
        user_id,
        template_id,
        coupon_name,
        order_amount,
        coupon_amount,
        discount_strength,
        discount_type,
        begin_time,
        end_time,
        description,
        create_time,
        delete_status) values
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.userId,jdbcType=BIGINT},
            #{record.templateId,jdbcType=BIGINT},
            #{record.couponName,jdbcType=VARCHAR},
            #{record.orderAmount,jdbcType=DECIMAL},
            #{record.couponAmount,jdbcType=DECIMAL},
            #{record.discountStrength,jdbcType=VARCHAR},
            #{record.discountType,jdbcType=INTEGER},
            #{record.beginTime,jdbcType=TIMESTAMP},
            #{record.endTime,jdbcType=TIMESTAMP},
            #{record.description,jdbcType=VARCHAR},
            #{record.createTime,jdbcType=TIMESTAMP},
            #{record.deleteStatus,jdbcType=BIT}
            )
        </foreach>
    </insert>

    <select id="selectCoupons" resultMap="BaseResultMap" parameterType="quick.pager.shop.dto.activity.CouponDTO">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon
        where
          DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[<=]]> create_time
        <if test="couponName != null and couponName != ''">
            and coupon_name like concat(#{couponName}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="discountType != null and discountType != ''">
            and discount_type = #{discountType,jdbcType=INTEGER}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and date_format(begin_time,'%Y-%m-%d') = #{beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            and date_format(end_time, '%Y-%m-%d') = #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="selectCouponsByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon
        where delete_status = false
        and user_id = #{userId,jdbcType=BIGINT}
        and DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[<=]]> create_time
        order by id desc limit #{page}, #{pageSize}
    </select>
</mapper>
