<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.DiscountCouponMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.DiscountCoupon">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="template_id" jdbcType="BIGINT" property="templateId"/>
        <result column="coupon_name" jdbcType="VARCHAR" property="couponName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="discount_strength" jdbcType="VARCHAR" property="discountStrength"/>
        <result column="discount_type" jdbcType="INTEGER" property="discountType"/>
        <result column="used" jdbcType="BIT" property="used"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, template_id, coupon_name, phone, order_amount, coupon_amount, discount_strength, discount_type,
        used, begin_time,
        end_time, description, create_time, update_time, delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="quick.pager.shop.model.activity.DiscountCoupon">
        insert into t_discount_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="templateId != null">
                template_id,
            </if>
            <if test="couponName != null">
                coupon_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="orderAmount != null">
                order_amount,
            </if>
            <if test="couponAmount != null">
                coupon_amount,
            </if>
            <if test="discountStrength != null">
                discount_strength,
            </if>
            <if test="discountType != null">
                discount_type,
            </if>
            <if test="used != null">
                used,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="templateId != null">
                #{templateId,jdbcType=BIGINT},
            </if>
            <if test="couponName != null">
                #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="couponAmount != null">
                #{couponAmount,jdbcType=DECIMAL},
            </if>
            <if test="discountStrength != null">
                #{discountStrength,jdbcType=VARCHAR},
            </if>
            <if test="discountType != null">
                #{discountType,jdbcType=INTEGER},
            </if>
            <if test="used != null">
                #{used,jdbcType=BIT},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.activity.DiscountCoupon">
        update t_discount_coupon
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="templateId != null">
                template_id = #{templateId,jdbcType=BIGINT},
            </if>
            <if test="couponName != null">
                coupon_name = #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="couponAmount != null">
                coupon_amount = #{couponAmount,jdbcType=DECIMAL},
            </if>
            <if test="discountStrength != null">
                discount_strength = #{discountStrength,jdbcType=VARCHAR},
            </if>
            <if test="discountType != null">
                discount_type = #{discountType,jdbcType=INTEGER},
            </if>
            <if test="used != null">
                used = #{used,jdbcType=BIT},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectBatchByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon
        where delete_status = false
        and id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="batchInsertSelective">
        insert into t_discount_coupon (
        user_id,
        template_id,
        coupon_name,
        order_amount,
        coupon_amount,
        discount_strength,
        discount_type,
        begin_time,
        end_time,
        description,
        create_time,
        delete_status) values
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.userId,jdbcType=BIGINT},
            #{record.templateId,jdbcType=BIGINT},
            #{record.couponName,jdbcType=VARCHAR},
            #{record.orderAmount,jdbcType=DECIMAL},
            #{record.couponAmount,jdbcType=DECIMAL},
            #{record.discountStrength,jdbcType=VARCHAR},
            #{record.discountType,jdbcType=INTEGER},
            #{record.beginTime,jdbcType=TIMESTAMP},
            #{record.endTime,jdbcType=TIMESTAMP},
            #{record.description,jdbcType=VARCHAR},
            #{record.createTime,jdbcType=TIMESTAMP},
            #{record.deleteStatus,jdbcType=BIT}
            )
        </foreach>
    </insert>

    <select id="selectCoupons" resultMap="BaseResultMap" parameterType="quick.pager.shop.dto.CouponDTO">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon
        where
          DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[<=]]> create_time
        <if test="couponName != null and couponName != ''">
            and coupon_name like concat(#{couponName}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="discountType != null and discountType != ''">
            and discount_type = #{discountType,jdbcType=INTEGER}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and date_format(begin_time,'%Y-%m-%d') = #{beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            and date_format(end_time, '%Y-%m-%d') = #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="selectCouponsByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon
        where delete_status = false
        and user_id = #{userId,jdbcType=BIGINT}
        and DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[<=]]> create_time
        order by id desc limit #{page}, #{pageSize}
    </select>
</mapper>
