<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.ExchangeActivityGoodsMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.ExchangeActivityGoods">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
    <result column="rule_id" jdbcType="BIGINT" property="ruleId"/>
    <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        acticity_id,
        rule_id,
        goods_id,
        update_time,
        create_time,
        delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_exchange_activity_goods
        where id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="quick.pager.shop.model.ExchangeActivityGoods">
        insert into t_exchange_activity_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
            id,
        </if>
        <if test="activityId != null">
            activity_id,
        </if>
        <if test="ruleId != null">
            rule_id,
        </if>
        <if test="goodsId != null">
            goods_id,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="deleteStatus != null">
            delete_status,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=BIGINT},
        </if>
        <if test="activityId != null">
            #{activityId, jdbcType=BIGINT},
        </if>
        <if test="ruleId != null">
            #{ruleId, jdbcType=BIGINT},
        </if>
        <if test="goodsId != null">
            #{goodsId, jdbcType=BIGINT},
        </if>
        <if test="updateTime != null">
            #{updateTime, jdbcType=TIMESTAMP},
        </if>
        <if test="createTime != null">
            #{createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="deleteStatus != null">
            #{deleteStatus, jdbcType=BIT},
        </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.ExchangeActivityGoods">
        update t_exchange_activity_goods
        <set>
            <if test="activityId != null">
                activity_id = #{acticityId, jdbcType=BIGINT},
            </if>
            <if test="ruleId != null">
                rule_id = #{ruleId, jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId, jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus, jdbcType=BIT},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <select id="select" parameterType="quick.pager.shop.model.ExchangeActivityGoods" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_exchange_activity_goods
        <where>
            <if test="id != null">
                id = #{id, jdbcType=BIGINT}
            </if>
            <if test="activityId != null">
                and activity_id = #{acticityId, jdbcType=BIGINT}
            </if>
            <if test="ruleId != null">
                and rule_id = #{ruleId, jdbcType=BIGINT}
            </if>
            <if test="goodsId != null">
                and goods_id = #{goodsId, jdbcType=BIGINT}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="deleteStatus != null">
                and delete_status = #{deleteStatus, jdbcType=BIT}
            </if>
        </where>
    </select>

</mapper>
