<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.ExchangeActivityMembersMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.ExchangeActivityMembers">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
    <result column="rule_id" jdbcType="BIGINT" property="ruleId"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        activity_id,
        user_id,
        goods_id,
        rule_id,
        phone,
        update_time,
        create_time,
        delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_exchange_activity_members
        where id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="quick.pager.shop.model.activity.ExchangeActivityMembers">
        insert into t_exchange_activity_members
        <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
            id,
        </if>
        <if test="activityId != null">
            activity_id,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="goodsId != null">
            goods_id,
        </if>
        <if test="ruleId != null">
            rule_id,
        </if>
        <if test="phone != null">
            phone,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="deleteStatus != null">
            delete_status,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=BIGINT},
        </if>
        <if test="activityId != null">
            #{activityId, jdbcType=BIGINT},
        </if>
        <if test="userId != null">
            #{userId, jdbcType=BIGINT},
        </if>
        <if test="goodsId != null">
            #{goodsId, jdbcType=BIGINT},
        </if>
        <if test="ruleId != null">
            #{rule_id, jdbcType=BIGINT},
        </if>
        <if test="phone != null">
            #{phone, jdbcType=VARCHAR},
        </if>
        <if test="updateTime != null">
            #{updateTime, jdbcType=TIMESTAMP},
        </if>
        <if test="createTime != null">
            #{createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="deleteStatus != null">
            #{deleteStatus, jdbcType=BIT},
        </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.activity.ExchangeActivityMembers">
        update t_exchange_activity_members
        <set>
            <if test="activityId != null">
                activity_id = #{activityId, jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId, jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId, jdbcType=BIGINT},
            </if>
            <if test="ruleId != null">
                rule_id = #{rule_id, jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                phone = #{phone, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus, jdbcType=BIT},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <select id="select" resultType="quick.pager.shop.response.ExchangeMemberResponse">

        SELECT
            am.id AS id,
            am.activity_id AS activityId,
            am.phone AS phone,
            am.create_time AS createTime,
            am.goods_id AS goodsId,
            am.user_id AS userId,
            ac.activity_name AS activityName,
            ar.rule_name AS ruleName,
            ar.id AS ruleId
        FROM
            t_exchange_activity_members am
        LEFT JOIN t_exchange_activity ac ON am.activity_id = ac.id
        LEFT JOIN t_exchange_activity_rule ar ON am.rule_id = ar.id
        where
          am.activity_id = #{activityId, jdbcType=BIGINT}
        <if test="phone != null and phone != ''">
            and am.phone = #{phone, jdbcType=VARCHAR}
        </if>
        <if test="ruleId != null">
            and ar.id = #{ruleId,jdbcType=BIGINT}
        </if>
       order by am.id desc
    </select>

</mapper>
