<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.ExchangeActivityRuleMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.ExchangeActivityRule">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        activity_id,
        rule_name,
        order_amount,
        update_time,
        create_time,
        delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_exchange_activity_rule
        where id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="quick.pager.shop.model.activity.ExchangeActivityRule">
        insert into t_exchange_activity_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
            id,
        </if>
        <if test="activityId != null">
            activity_id,
        </if>
        <if test="ruleName != null">
            rule_name,
        </if>
        <if test="orderAmount != null">
            order_amount,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="deleteStatus != null">
            delete_status,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=BIGINT},
        </if>
        <if test="activityId != null">
            #{activityId, jdbcType=BIGINT},
        </if>
        <if test="ruleName != null">
            #{ruleName, jdbcType=VARCHAR},
        </if>
        <if test="orderAmount != null">
            #{orderAmount, jdbcType=DECIMAL},
        </if>
        <if test="updateTime != null">
            #{updateTime, jdbcType=TIMESTAMP},
        </if>
        <if test="createTime != null">
            #{createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="deleteStatus != null">
            #{deleteStatus, jdbcType=BIT},
        </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.activity.ExchangeActivityRule">
        update t_exchange_activity_rule
        <set>
            <if test="activityId != null">
                activity_id = #{activityId, jdbcType=BIGINT},
            </if>
            <if test="ruleName != null and ruleName != ''">
                rule_name = #{ruleName, jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount, jdbcType=DECIMAL},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus, jdbcType=BIT},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <select id="select" resultType="quick.pager.shop.model.activity.ExchangeActivityRule">
        select
        r.id as id,
        r.activity_id as activityId,
        r.rule_name as ruleName,
        r.order_amount as orderAmount,
        r.update_time as updateTime,
        r.create_time as createTime,
        r.delete_status as deleteStatus,
        ac.activity_name as activityName
        from t_exchange_activity_rule r left join t_exchange_activity ac on r.activity_id = ac.id
        <where>
            <if test="activityId != null">
                r.activity_id = #{activityId, jdbcType=BIGINT}
            </if>
        </where>
    </select>

</mapper>
