<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.FightGroupMapper">
  <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.FightGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_img" jdbcType="VARCHAR" property="activityImg" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, activity_name, activity_img, begin_time, end_time, create_time, update_time, create_user,
    delete_status
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_fight_group_activity
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="quick.pager.shop.model.activity.FightGroup">
    insert into t_fight_group_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityImg != null">
        activity_img,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityImg != null">
        #{activityImg,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.activity.FightGroup">
    update t_fight_group_activity
    <set>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityImg != null">
        activity_img = #{activityImg,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectFightGroup" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_fight_group_activity
    <where>
      <if test="activityName != null and activityName != ''">
        activity_name = #{activityName,jdbcType=VARCHAR}
      </if>
      <if test="beginTime != null and beginTime != ''">
        and date_format(begin_time,'%Y-%m-%d') <![CDATA[>=]]> #{beginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null and endTime != ''">
        and date_format(end_time,'%Y-%m-%d') <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by id desc
  </select>

</mapper>
