<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.goods.mapper.GoodsDetailMapper">
  <resultMap id="BaseResultMap" type="quick.pager.shop.model.goods.GoodsDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="banner_first" jdbcType="VARCHAR" property="bannerFirst" />
    <result column="banner_second" jdbcType="VARCHAR" property="bannerSecond" />
    <result column="banner_third" jdbcType="VARCHAR" property="bannerThird" />
    <result column="details_img_first" jdbcType="VARCHAR" property="detailsImgFirst" />
    <result column="details_img_second" jdbcType="VARCHAR" property="detailsImgSecond" />
    <result column="details_img_third" jdbcType="VARCHAR" property="detailsImgThird" />
    <result column="details_img_fourth" jdbcType="VARCHAR" property="detailsImgFourth" />
    <result column="details_img_fifth" jdbcType="VARCHAR" property="detailsImgFifth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, goods_img, banner_first, banner_second, banner_third, details_img_first, details_img_second,
    details_img_third, details_img_fourth, details_img_fifth, create_time, update_time, 
    delete_status
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods_detail
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByGoodsId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_goods_detail
    where goods_id = #{goodsId,jdbcType=BIGINT} and delete_status = false
  </select>

  <insert id="insertSelective" parameterType="quick.pager.shop.model.goods.GoodsDetail">
    insert into t_goods_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsImg != null and goodsImg != ''">
        goods_img,
      </if>
      <if test="bannerFirst != null and bannerFirst != ''">
        banner_first,
      </if>
      <if test="bannerSecond != null and bannerSecond != ''">
        banner_second,
      </if>
      <if test="bannerThird != null and bannerThird != ''">
        banner_third,
      </if>
      <if test="detailsImgFirst != null and detailsImgFirst != ''">
        details_img_first,
      </if>
      <if test="detailsImgSecond != null and detailsImgSecond != ''">
        details_img_second,
      </if>
      <if test="detailsImgThird != null and detailsImgThird != ''">
        details_img_third,
      </if>
      <if test="detailsImgFourth != null and detailsImgFourth != ''">
        details_img_fourth,
      </if>
      <if test="detailsImgFifth != null and detailsImgFifth != ''">
        details_img_fifth,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsImg != null and goodsImg != ''">
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerFirst != null and bannerFirst != ''">
        #{bannerFirst,jdbcType=VARCHAR},
      </if>
      <if test="bannerSecond != null and bannerSecond != ''">
        #{bannerSecond,jdbcType=VARCHAR},
      </if>
      <if test="bannerThird != null and bannerThird != ''">
        #{bannerThird,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgFirst != null and detailsImgFirst != ''">
        #{detailsImgFirst,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgSecond != null and detailsImgSecond != ''">
        #{detailsImgSecond,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgThird != null and detailsImgThird != ''">
        #{detailsImgThird,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgFourth != null and detailsImgFourth != ''">
        #{detailsImgFourth,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgFifth != null and detailsImgFifth != ''">
        #{detailsImgFifth,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.goods.GoodsDetail">
    update t_goods_detail
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsImg != null and goodsImg != ''">
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerFirst != null and bannerFirst != ''">
        banner_first = #{bannerFirst,jdbcType=VARCHAR},
      </if>
      <if test="bannerSecond != null and bannerSecond != ''">
        banner_second = #{bannerSecond,jdbcType=VARCHAR},
      </if>
      <if test="bannerThird != null and bannerThird != ''">
        banner_third = #{bannerThird,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgFirst != null and detailsImgFirst != ''">
        details_img_first = #{detailsImgFirst,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgSecond != null and detailsImgSecond != ''">
        details_img_second = #{detailsImgSecond,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgThird != null and detailsImgThird != ''">
        details_img_third = #{detailsImgThird,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgFourth != null and detailsImgFourth != ''">
        details_img_fourth = #{detailsImgFourth,jdbcType=VARCHAR},
      </if>
      <if test="detailsImgFifth != null and detailsImgFifth != ''">
        details_img_fifth = #{detailsImgFifth,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>