<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.InviteCodeMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.InviteCode">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="template_id" jdbcType="BIGINT" property="templateId"/>
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
    <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        user_id,
        template_id,
        code,
        create_time,
        update_time,
        create_user,
        delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_invite_code
        where id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="quick.pager.shop.model.InviteCode">
        insert into t_invite_code
        <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="id != null">
            id,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="templateId != null">
            template_id,
        </if>
        <if test="code != null">
            code,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="createUser != null">
            create_user,
        </if>
        <if test="deleteStatus != null">
            delete_status,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id, jdbcType=BIGINT},
        </if>
        <if test="userId != null">
            #{userId, jdbcType=BIGINT},
        </if>
        <if test="templateId != null">
            #{templateId, jdbcType=BIGINT},
        </if>
        <if test="code != null">
            #{code, jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
            #{createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null">
            #{updateTime, jdbcType=TIMESTAMP},
        </if>
        <if test="createUser != null">
            #{createUser, jdbcType=VARCHAR},
        </if>
        <if test="deleteStatus != null">
            #{deleteStatus, jdbcType=BIT},
        </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.InviteCode">
        update t_invite_code
        <set>
            <if test="userId != null">
                user_id = #{userId, jdbcType=BIGINT},
            </if>
            <if test="templateId != null">
                template_id = #{templateId, jdbcType=BIGINT},
            </if>
            <if test="code != null">
                code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus, jdbcType=BIT},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <select id="select" parameterType="quick.pager.shop.model.InviteCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_invite_code
        <where>
            <if test="id != null">
                id = #{id, jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                and user_id = #{userId, jdbcType=BIGINT},
            </if>
            <if test="templateId != null">
                and template_id = #{templateId, jdbcType=BIGINT},
            </if>
            <if test="code != null">
                and code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                and create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                and create_user = #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                and delete_status = #{deleteStatus, jdbcType=BIT},
            </if>
        </where>
    </select>

</mapper>
