<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.SellerOrderMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.order.SellerOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="seller_id" jdbcType="BIGINT" property="sellerId"/>
        <result column="user_order_id" jdbcType="BIGINT" property="userOrderId"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, seller_id, user_order_id, order_amount, order_code, order_status, create_time,
        update_time, delete_status
    </sql>
</mapper>
