<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.UserOrderMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.order.UserOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="buy_order_cart_id" jdbcType="BIGINT" property="buyOrderCartId"/>
        <result column="seller_id" jdbcType="BIGINT" property="sellerId"/>
        <result column="ship_id" jdbcType="BIGINT" property="shipId"/>
        <result column="coupon_id" jdbcType="BIGINT" property="couponId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="order_type" jdbcType="INTEGER" property="orderType"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="integral" jdbcType="DECIMAL" property="integral"/>
        <result column="integral_amount" jdbcType="DECIMAL" property="integralAmount"/>
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount"/>
        <result column="self" jdbcType="BIT" property="self"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, buy_order_cart_id, seller_id, ship_id, coupon_id, order_code, phone, order_status,
        order_type, order_amount, integral, integral_amount, discount_amount, self, create_time, update_time,
        delete_status
    </sql>

    <select id="selectOrders" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_order
        <where>
            <if test="userId != null and userId != ''">
                user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="phone != null and phone !=''">
                phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="orderCode != null and orderCode != ''">
                and order_code = #{orderCode,jdbcType=VARCHAR}
            </if>
            <if test="orderStatusList != null">
                and order_status in
                <foreach collection="orderStatusList" item="item" index="index" open="(" separator="," close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="orderType !=null and orderType != ''">
                and order_type = #{orderType,jdbcType=INTEGER}
            </if>
            <if test="beginTime !=null and beginTime != ''">
                and date_format(create_time, '%Y-%m-%d') <![CDATA[>=]]> date_format(#{beginTime}, '%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">
                and date_format(create_time, '%Y-%m-%d') <![CDATA[<=]]> date_format(#{endTime}, '%Y-%m-%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectCountOrders" resultType="long">
        select
        count(1)
        from t_user_order
        <where>
            <if test="userId != null and userId != ''">
                user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="phone != null and phone !=''">
                phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="orderCode != null and orderCode != ''">
                and order_code = #{orderCode,jdbcType=VARCHAR}
            </if>
            <if test="orderStatusList != null">
                and order_status in
                <foreach collection="orderStatusList" item="item" index="index" open="(" separator="," close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="orderType !=null and orderType != ''">
                and order_type = #{orderType,jdbcType=INTEGER}
            </if>
            <if test="beginTime !=null and beginTime != ''">
                and date_format(create_time, '%Y-%m-%d') <![CDATA[>=]]> date_format(#{beginTime}, '%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">
                and date_format(create_time, '%Y-%m-%d') <![CDATA[<=]]> date_format(#{endTime}, '%Y-%m-%d')
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

</mapper>
