<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.activity.mapper.DiscountCouponTemplateMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.activity.DiscountCouponTemplate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount"/>
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="discount_strength" jdbcType="VARCHAR" property="discountStrength"/>
        <result column="template_type" jdbcType="INTEGER" property="templateType"/>
        <result column="template_name" jdbcType="VARCHAR" property="templateName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_amount, coupon_amount, discount_strength, template_type, template_name, description, create_user,
        create_time, update_time, delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon_template
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="quick.pager.shop.model.activity.DiscountCouponTemplate">
        insert into t_discount_coupon_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderAmount != null">
                order_amount,
            </if>
            <if test="couponAmount != null">
                coupon_amount,
            </if>
            <if test="discountStrength != null">
                discount_strength,
            </if>
            <if test="templateType != null">
                template_type,
            </if>
            <if test="templateName != null">
                template_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderAmount != null">
                #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="couponAmount != null">
                #{couponAmount,jdbcType=DECIMAL},
            </if>
            <if test="discountStrength != null">
                #{discountStrength,jdbcType=VARCHAR},
            </if>
            <if test="templateType != null">
                #{templateType,jdbcType=INTEGER},
            </if>
            <if test="templateName != null">
                #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="quick.pager.shop.model.activity.DiscountCouponTemplate">
        update t_discount_coupon_template
        <set>
            <if test="orderAmount != null">
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="couponAmount != null">
                coupon_amount = #{couponAmount,jdbcType=DECIMAL},
            </if>
            <if test="discountStrength != null">
                discount_strength = #{discountStrength,jdbcType=VARCHAR},
            </if>
            <if test="templateType != null">
                template_type = #{templateType,jdbcType=INTEGER},
            </if>
            <if test="templateName != null">
                template_name = #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectTemplates" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_discount_coupon_template
        <where>
            <if test="templateName != null">
                template_name = #{templateName,jdbcType=VARCHAR}
            </if>
            <if test="templateType != null">
                and template_type = #{templateType,jdbcType=INTEGER}
            </if>
        </where>
        order by id desc
    </select>
</mapper>