<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, role_id, sys_user_id, create_time, update_time, delete_status
    </sql>

    <select id="selectSysRole" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_role
        where role_id = #{roleId,jdbcType=BIGINT} and sys_user_id = #{sysUserId,jdbcType=BIGINT} and delete_status =
        false
    </select>

    <select id="selectBySysUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_role
        where sys_user_id = #{sysUserId,jdbcType=BIGINT} and delete_status = false
    </select>

</mapper>
