<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quick.pager.shop.mapper.SystemConfigMapper">
    <resultMap id="BaseResultMap" type="quick.pager.shop.model.SystemConfig">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="config_name" jdbcType="VARCHAR" property="configName"/>
        <result column="config_type" jdbcType="VARCHAR" property="configType"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_status" jdbcType="BIT" property="deleteStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, config_name, config_type, config_value, module, description, create_time, update_time, delete_status
    </sql>

    <select id="selectSystemConfig" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_system_config
        <where>
            <if test="configName != null and configName != ''">
                config_name = #{configName,jdbcType=VARCHAR}
            </if>
            <if test="module != null and module != ''">
                and module = #{module,jdbcType=VARCHAR}
            </if>
        </where>
        order by id desc
    </select>
</mapper>
